.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#333;
  font-size:18px;
  color:white;
  padding:16px 64px;
}

.header nav {
  display: flex;
  gap:16px;
}
